@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal-body" style="height: 450px !important; overflow-y:auto;">
    <section class="songSearchBar">
        <h4>Search Songs</h4>
        <input id="searchBar" class="form-control form-control-sm mr-3 w-100" type="text" placeholder="Search by Title" aria-label="Search">
        <i class="fas fa-search" aria-hidden="true"></i>
        <div id="songsFound">
            <p>Enter a title To Generate Songs</p>
        </div>
    </section>
    </div>
<div class="modal-footer">
    <button data-dismiss="modal" value="Back To Queue" class="btn btn-secondary" style="float: right;" onclick="CloseSearch();">Back to Queue</button>
</div>


