@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" />
<div class="text-center homeHeader">
    <div>
        <img class="beurdj" src="~/img/BeUrDJ.png" />
        <h1 class="display-4" style="color: white; font-weight:bold">BeUrDJ</h1>
    </div>
    <h3 style="color: white;">Community music listening experience for everyone</h3>
    <img src="~/img/timeline.png" class="timeline" />
    <br />
    <button type="button" class="btn btn-primary" style="border-width: 3px; border-bottom-color: darkblue;" onclick="window.location.href = 'dj/login'">GET STARTED</button>
</div>
