

@{
    ViewData["Title"] = "DisplaySessionDetails";
}
<link rel="stylesheet" type="text/css" href="~/css/search.css">
<link rel="stylesheet" href="~/css/roundslider.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/queue.css">
<link rel="stylesheet" type="text/css" href="~/css/djprofile.css">
<link rel="stylesheet" type="text/css" href="~/css/note.css" />
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/recommended.js"></script>
<script src="~/js/search.js"></script>
<script src="~/js/queue.js"></script>

<div id="note" style="display: none;">
    <a id="close">[close]</a>
</div>

<button id="exitSession" type="button" class="btn btn-secondary exitBtn" onclick="window.location.href = 'dj/sessions'">
    Exit Session
</button>
<div id="queueHeader">
    <div id="QueueHeaderPartialView" onload="GetQueueHeader()"></div>
</div>

<div id="queue">
    <div id="UpdateQueue"></div>
</div>
<div id="recommendedSongs">

</div>
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="overflow-y: initial !important">
        <div class="modal-content" style="width: 700px;">
            <div class="modal-header">
                <h3 class="modal-title" id="myModal-label">Search</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseSearch();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="searchModalBody"></div>
        </div>
    </div>
</div>

