@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" type="text/css" href="~/css/search.css">
<section class="songSearchBar">
    <input id="searchBar" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search by Title" aria-label="Search">
    <i class="fas fa-search" aria-hidden="true"></i>
    <div id="songsFound"></div>
</section>

<script src="~/js/search.js"></script>